@CHARSET "UTF-8";

h2 {
	text-align: center;
	color:#000000;
	display:inline-block;
	}
	#first{
	padding-left:40%;
	}
#test{
	display:none;
}
.container{
	
padding-left:15%;
padding-top:3%;

	
	
}
.griglia{
	padding:0;
	margin:0;
	
}
.griglia li{
	
	display: inline-block;
	width: 25%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}
.griglia img{
	
}
.button1{
	  background-color: #008000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonDisabled {
    background-color: #fc5a43; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: not-allowed;
    background-color: rgba(255,0,0,0.5)
    
}


.griglia #terminato{
		color: red;
	font-weight: bold;
}

.griglia a:link {
	color: black;
	font-weight: bold;
}

/* visited link */
.griglia a:visited {
	color: blue;
	font-weight: bold;
}

/* mouse over link */
.griglia a:hover {
	color: red;
	font-weight: bold;
}

.griglia a:active {
	color: white;
	font-weight: bold;
}
p.exPrezzo{
	text-decoration: line-through;
	
}

footer { color:white;position: absolute; left: 0; width: 100%;overflow: hidden; background: #000000; height: 10%;bottom: 100; }
header {left: 0; width: 100%; overflow: hidden; background: #ffffff; height: 30%;top: 0;}

@media only screen and (max-width : 1024px), only screen and(max-height:768px) {


}

@media only screen and (max-width : 960px), only screen and(max-height:600px) {
 #first{
	padding-left:35%;
	}
.container{
	
padding-left:13%;
padding-top:3%;	
}
.griglia li{
	
	display: inline-block;
	width: 40%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}
}

@media only screen and (max-width : 800px), only screen and(max-height:736px) {
  #first{
	padding-left:33%;
	}
	.container{
	
padding-left:5%;
padding-top:3%;	
}
.griglia li{
	
	display: inline-block;
	width: 45%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}
}

@media only screen and (max-width : 414px), only screen and(max-height:736px) {
 #first{
	padding-left:17%;
	}
	.container{
	
padding-left:14%;
padding-top:3%;	
}
.griglia li{
	
	display: inline-block;
	width: 85%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}

}

@media only screen and (max-width : 375px), only screen and(max-height:667px) {
  #first{
	padding-left:12%;
	}
	.container{
	
padding-left:15%;
padding-top:3%;	
}
.griglia li{
	
	display: inline-block;
	width: 85%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}
 
}
@media only screen and (max-width : 320px), only screen and(max-height:568px) {
  #first{
	padding-left:5%;
	}
	.container{
	
padding-left:2%;
padding-top:3%;	
}
.griglia li{
	
	display: inline-block;
	width: 100%;
	margin-right:3%;
	margin-bottom:3%;
	border-bottom: 2px solid;
	text-align:center;
	
	background-color:#FFFFFF;

}
 
}

