@CHARSET "UTF-8";
@media only screen and (max-width:300px) {
 section{
    width:30%;
	vertical-align: baseline;
}
   

}
* {  box-sizing: border-box;}

body{background-color:#ffffff;}


section{
    width:100%;
	vertical-align: baseline;
}
.sezione p{
	 padding-left:0%;
	 padding-right:0%;
}
* {
	box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top:3%;
  padding-bottom:8%;
 
}
.slideshow-container a:link {
	color: black;
	font-weight: bold;
}

/* visited link */
.slideshow-container a:visited {
	color: blue;
	font-weight: bold;
}

/* mouse over link */
.slideshow-container a:hover {
	color: red;
	font-weight: bold;
}
.slideshow-container a:active {
	color: white;
	font-weight: bold;
}
.mySlides {
    display: none;
}




.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  padding-left:7%;
  bottom: 8%;
  width: 100%;
  text-align: left;
}

.numbertext {
	
  color: #ffffff;
  background-color:#171717;
  font-size: 13px;
  font-weight:bold;
  padding: 10px 18px;
  position: absolute;
   border-radius: 30%;
  top: 13%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.btn {
    position: absolute;
    top: 115%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ca0000;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
        font-weight:bold;
    
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.btn1 {
    position: absolute;
    top: 115%;
    left: 62%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ca0000;
    font-weight:bold;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
 background-color: #000000;
}
.btn1:hover{
	 background-color: #000000;
}
h1{
		padding-left:40.5%;
	
}
footer { color:white;position: absolute; left: 0; width: 100%;overflow: hidden; background: #000000; height: 10%;bottom:100; }
header {left: 0; width: 100%; overflow: hidden; background: #ffffff; height: 30%;top: 0;}

@media only screen and (max-width : 1024px), only screen and(max-height:768px) {
h1{
padding-left:38%;
}
.slideshow-container {
  width:75%;
    padding-top:2%;
    padding-bottom:12%;
  
}


}

@media only screen and (max-width : 960px), only screen and(max-height:600px) {
h1{
padding-left:37%;
}
.slideshow-container {
  width:70%;
    padding-top:2%;
    padding-bottom:8%;
  
}

}

@media only screen and (max-width : 800px), only screen and(max-height:736px) {
 h1{
padding-left:19%;
}
.slideshow-container {
  width:100%;
    padding-top:26%;
    padding-bottom:20%;
  
}
footer{
	bottom:0;
}
.numbertext {
	
  color: #ffffff;
  background-color:#171717;
  font-size: 13px;
  font-weight:bold;
  padding: 10px 18px;
  position: absolute;
   border-radius: 30%;
  top: 32%;
}

}
@media only screen and (max-width : 414px), only screen and(max-height:736px) {
	 h1{
padding-left:15%;
}
.slideshow-container {
  width:100%;
    padding-top:25%;
    padding-bottom:20%;
  
}
footer{
	bottom:0;
}
 .numbertext {
	
  color: #ffffff;
  background-color:#171717;
  font-size: 13px;
  font-weight:bold;
  padding: 10px 18px;
  position: absolute;
   border-radius: 30%;
  top: 35%;
}
}
	
	
	}
@media only screen and (max-width : 375px), only screen and(max-height:667px) {
  h1{
padding-left:15%;
}
.slideshow-container {
  width:100%;
    padding-top:29%;
    padding-bottom:20%;
  
}
footer{
	bottom:0;
}
 .numbertext {
	
  color: #ffffff;
  background-color:#171717;
  font-size: 13px;
  font-weight:bold;
  padding: 10px 18px;
  position: absolute;
   border-radius: 30%;
  top: 35%;
}
}
@media only screen and (max-width : 320px), only screen and(max-height:568px) {
   h1{
padding-left:10%;
}
.slideshow-container {
  width:100%;
    padding-top:18%;
    padding-bottom:20%;
  
}
footer{
	bottom:0;
}
 .numbertext {
	
  color: #ffffff;
  background-color:#171717;
  font-size: 13px;
  font-weight:bold;
  padding: 10px 18px;
  position: absolute;
   border-radius: 30%;
  top: 25%;
}
}

